body {
 background-color: #F6F8F9;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* nav-bar Latefah */
.logo-nav {float:left;
  object-fit: cover;

}


.search-nav{float:right;
 padding:10px;
}


.search-nav-1{float:right;
  
 }

.search-nav input{float:right;
border-radius: 20px;
text-align: center;
padding: 5px;
width: 180px;
border: solid rgb(90, 88, 88);

 
}


.nav {
  position: sticky;
  top: 0;
  z-index: 100;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#FFFFFF;
border: solid #C5CDD2;
border-bottom-width: 3px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 

 
}


li {

  display:inline-block;
  text-align: center;
  justify-content: center;

}

.title{
  margin-left: 100px;

}

.topic{
 text-align: center;
 margin-top: 100px;
 color: #7E49AC;


}

li a {
  display: block;
  color: #7E49AC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {

  color: rgb(10, 7, 7);
  
  text-decoration:none
}



/* footer Latefah*/
.footer{
  display: flex; 
  align-items: center; 
  justify-content: center;
  flex-direction: row;
  font-size: 10px;

}

.space{float:right}
hr{
  width:900px;
  border: solid  #C5CDD2;;
  
}

/* profile */

#main-card {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 700px;
  margin: 0 auto;
  margin-top: 70px;
  background: rgb(249, 249, 249);
  box-shadow: 0 0 20px 0 rgba(152, 65, 65, 0.2);

}

.cover-photo {
  background:#D3CEDF;
  width: 700px;
  height: 100px;
  
}

.photo {
  background: #f9f9f9;
  width: 700px;
  height: 100px;
  display: flex;
  justify-content: center;
}
.proimg {
  position: relative;
  top: -50px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  box-shadow: -1px 1px 11px 6px rgba(85, 3, 3, 0.33);
}
.content {
  background: #f9f9f9;
  height:fit-content;
  padding-bottom: 20px;
}

/* info profile */
 .card-body table {

  /* background-color: #fff; */
    border-radius: 18px;
    background-color: #D3CEDF;
    /* box-shadow: 1px 1px 8px 0 blueviolet; */
    margin-left: 66px;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
    color: #7E49AC;
    text-align: center;
  /* border: none;
  font-size: 16px;
  height: 100px;
  width: 80%;
  gap: 30px; */
  
}


.edit{
  background-color:  #7E49AC;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-top: -60px;
margin-left: 75%;
  border: none;
  cursor: pointer;
  width: 90px;
border-radius: 15px;

}


.background{
  background-image:url("/public/404.png") ;
background-repeat: no-repeat;
background-position: center;
height: 80vh;

}
/* prodcasr page  */

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

  .cast{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    text-align: center;
  row-gap: 20px;
  column-gap: 15px;
    padding: 10px;

  }
  .most{
    margin-left: 900px;
    margin-top: 50px;
  }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Style the counter cards */
.card {

  padding: 15px;
  text-align: center;
  width:200px;
  margin-bottom: 40px;

}

.cast-image{
  width: 100%;
  height:300px;
  object-fit: cover;
}

/* PDSCAST PAGES */


/* Pcast Player */

.audio-start{
  display: flex;
flex-direction: column;

text-align:right;


}
.content-title{

  padding:50px;
  color: #7E49AC;
}

  .audiuo-start-header{
    display: flex;
   gap: 80px;
padding: 40px;
background-color:#ddd9e9;
  background-repeat: no-repeat;
   border: solid #C5CDD2;
   justify-content: right;
   padding: 30px;
  
  }



  .card1 {

    padding: 10px;
    width:300px;
    gap: 20px;
  
  }
  
  .contant-image{
    width: 90%;
    height:250px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 6px 6px;
  
  }


  .btn-content{
    background-color: #7E49AC;
    color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    border-radius: 15px; 
    border: none;
    
  margin-left: 30px;
  }


  .btn-content-one{
    background-color: #f5f4f6;
    color: rgb(9, 5, 5);
    width: 60px;
    height: 20px;
    border: solid;
    font-size: 10px;
   
  }



.btn-content:hover{
 background-color: grey;
   cursor: pointer;
}

.btn-content-one:hover{
  background-color:  #b898d4;
    cursor: pointer;
 }




.sound{
  display: flex;
  flex-direction: column;
  gap: 30px;
 padding: 0px 150px 150px 150px;
  width: 800px;

}

.sound-border{
  display: flex;
  justify-content: right;
  flex-direction: column;
  background-color:#FFFFFF;
  border: solid #C5CDD2;
  padding: 20px;
  gap: 30PX;
  border-radius: 20px;
}


.sound-border-2{
  display: flex;
  justify-content: right;
  gap: 30PX;
}


audio{
  width:700px;
}

audio::-webkit-media-controls-panel {
  background-color: #e1d5eb;
  
}

