body {
 background-color: #F6F8F9;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* nav-bar Latefah */
.logo-nav{float:left;

}


.search-nav{float:right;
 padding:10px;
}

.search-nav input{float:right;
border-radius: 20px;
text-align: center;
padding: 5px;
width: 180px;
border: solid rgb(90, 88, 88);

 
}


.nav {
  position: sticky;
  top: 0;
  z-index: 100;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#FFFFFF;
border: solid #C5CDD2;
border-bottom-width: 3px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}


li {

  display:inline-block;
  text-align: center;
  justify-content: center;

}


li a {
  display: block;
  color: #95959c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {

  color: rgb(10, 7, 7);
  
  text-decoration: underline red 
}



/* footer Latefah*/
.footer{
  display: flex; 
  align-items: center; 
  justify-content: center;
  flex-direction: row;
  font-size: 10px;

}

.space{float:right}
hr{
  width:900px;
  border: solid  #C5CDD2;;
  
}

/* profile */

#main-card {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 700px;
  margin: 0 auto;
  margin-top: 70px;
  background: rgb(249, 249, 249);
  box-shadow: 0 0 20px 0 rgba(152, 65, 65, 0.2);

}

.cover-photo {
  background:#D3CEDF;
  width: 700px;
  height: 100px;
  
}

.photo {
  background: #f9f9f9;
  width: 700px;
  height: 100px;
  display: flex;
  justify-content: center;
}
.proimg {
  position: relative;
  top: -50px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  box-shadow: -1px 1px 11px 6px rgba(85, 3, 3, 0.33);
}
.content {
  background: #f9f9f9;
  height:fit-content;
  padding-bottom: 20px;
}

.edit{
  background-color: #3987f0;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-top: -60px;
margin-left: 75%;
  border: none;
  cursor: pointer;
  width: 80px;
border-radius: 15px;

}


.background{
  background-image:url("/public/404.png") ;
background-repeat: no-repeat;
background-position: center;
height: 80vh;

}