.login {
	background-color: #e9ebee;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 100px;
}
.login-logo {
	height: 120px;
}
.login-container {
	display: flex;
	flex-direction: column;
	border: 1px solid #dddfe2;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
	height: 350px;
	width: 396px;
	background-color: #fff;
	text-align: center;
}
.login h3 {
	font-size: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Helvectica, Arial, sans-serif;
	text-align: center;
	color: #1c1e21;
}
.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
}
.login-container .login-form input {
	height: 50px;
	margin-bottom: 10px;
	background-color: white;
	width: 303px;
	border: 0.5px solid gray;
	border-radius: 5px;
	outline: none;
	padding-left: 20px;
	background: #ffffff;
	border: 1px solid #dddfe2;
	color: #1d2129;
	line-height: 16px;
	font-size: 17px;
	vertical-align: middle;
}
.login-btn-login,
.login-btn-create-acc {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	position: relative;
	text-align: center;
	text-shadow: none;
	font-weight: bold;
	justify-content: center;
	background-color: #1877f2;
	border: none;
	border-radius: 6px;
	font-size: 20px;
	line-height: 48px;
	padding: 0 16px;
	width: 332px;
	color: #fff;
}
.login-btn-login:hover {
	background-color: #0f59b9;
}
.login-btn-create-acc {
	background-color: #42b72a;
	margin-top: 20px;
	width: 210px;
	font-size: 18px;
}
.login-btn-create-acc:hover {
	background-color: #2a9e13;
}
.login-underline {
	color: #dadde1;
}
.login-container .login-form a {
	text-decoration: none;
	color: #1877f2;
}
.login-h4 {
	padding-top: 35px;
	font-size: 14px;
	color: #525457;
}
.login-a {
	text-decoration: none;
	color: #1c1e21;
}
.login-text {
	display: flex;
	flex-direction: column;
	width: 420px;
}
