

.profile-cover-page {
    height: 70vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-cover-image {
    background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    height: 54vh;
    width: 80vw;
    position: relative;
    border-radius: 8px;
}

.add-cover-image {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.add-cover-image button {
    padding: 10px;
    border: none;
    font-weight: 600;
    font-size: .9375rem;
    background-color: #fbfbfb;
    border-radius: 8px;
    cursor: pointer;
}

.profile-acc-image {
    padding-top: 8px;
    align-self: start;
    padding-left: 12%;
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 15px;
}

.profile-acc-img-img {
   height: 120px;
   width: 120px;
    
}

.profile-acc-image p {
    font-size: 1.5rem;
    font-weight: 700;
}

.add-story-button {
    background-color: #1877F2;;
    border: none;
    border-radius: 8px;
    padding: 12px 16px;
    color: white;
    font-weight: 700;
    margin-left: 520px;
    cursor: pointer;
}

.edit-profile-btn {
    background-color:  #bfbfbf;
    border: none;
    border-radius: 8px;
    padding: 12px 16px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}



.flex-row-lower {
    display: flex;
    flex-direction: row;
    gap: 30px;
   
}

.first-column-lower {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 8px;
    padding-top: 20px;
    padding-left: 11%;
    
}

.intro-profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    padding-bottom: 10px;
    border-radius: 8px;
}

.intro-profile p {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: -1px;
}

.intro-profile button {
    width: 100%;
    background-color: #e4e6eb;
    font-weight: 600;
    font-size: .9375rem;
    padding: 7px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.add-photos-flex-row {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.add-photos-flex-row p {
    font-size: 1.25rem;
    font-weight: 700;
}

.add-photos-flex-row h4 {
    color: #216fdb;
    font-weight: 400;
    font-size: 1.0625rem;
    cursor: pointer;
}

.flex-column-second {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fix-space {
    margin-left: -105px;
}

.posts-profile-page {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 44vw;
    margin-left: 31px;
    height: auto;
    border-radius: 8px;
}

.post-settings-row {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    justify-content: space-between;
}

.post-settings-row p {
    font-size: 1.25rem;
    font-weight: 700;
}

.manage-filter-btns {
    padding: 8px 6px; 
    background-color: #e4e6eb;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
    
}