.sidenav-saved {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 345px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 60px;
    
    padding-left: 12px;
    padding-right: 12px;
  }
  
  /* The navigation menu links */
  .sidenav-saved a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav-saved a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main-saved {
    margin-left: 400px; /* Same as the width of the sidebar */
    margin-top: 60px;
  }

  .side-nav-content-saved {
      display: flex;
      flex-direction: column;
      gap: 22px;
  }

  .first-row-side-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content:space-between;
      font-size: 1.5rem;
      font-weight: 600;
  }

  .second-row-side-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 1rem;
      color: #050505;
      margin-top: -6px;
  }

   .line-saved{
    width: 100%;
    margin-top: -8px;
    margin-bottom: -8px;
    border-bottom: 1px solid #ced0d4;
    }

    .collections-saved {
        font-weight: 600;
        line-height: 1.1765;
        font-size: 1.0625rem;
    }

    .sidenav-saved button {
        background-color: #e7f3ff;
        width: 100%;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 8px;
        color: #1877f2;
        font-size: .9375rem;
        cursor: pointer;
        font-weight: 550;
    }

    .saved-saved {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-right: 40px;
        font-size: 1.25rem;
        font-weight: 700;
    }

    .no-saved-items {
        background-color: white;
        text-align: center;
        width: 940px;
        padding: 30px;
        margin-top: 20px;
        border-radius: 8px;
        font-size: 1.25rem;
        color: #65676b;
        font-weight: 700;
    }