.sidebar {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    height: 100vh;
    width: 300px;
}
.sidebar-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    color: #2b2a2a;
    gap: 15px;
    border-radius: 20px;
    padding-left: 10px;
    margin-left: 5px;
}
.sidebar-row:hover{
    background-color: rgba(219, 210, 210, 0.692);
}
.sidebar-icon{
    color:  rgba(139, 131, 131, 0.692);
}