/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
} */
  
.container-signup-page {
    width: 320px;
    height: 480px;
    background: #fff;
    box-shadow: 0 10px 15px rgba(179, 179, 179, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}
  
.container-signup-page h2{
    color: #0A66C3;
    font-size: 1.6rem;
}
  
.container-signup-page h2 i{
    font-size: 1.8rem;
    padding-left: .1rem;
}
  
.text-signup-page p{
    font-size: .8rem;
    padding-top: 0.3rem;
}
  
.input-signup-page {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 0.7em;
}
  
.your-input-signup-page input{
    width: 95%;
    height: 50px;
    padding-top: 1.1rem;
    padding-left: 9px;
    outline: none;
    border: 1px solid #8c8c8c;
    border-radius: 3px;
    transition: .2s;
}
  
.your-input-signup-page label {
    position: absolute;
    top: 30%;
    left: 10px;
    font-size: 1.1rem;
    color: #8c8c8c;
    transition: .2s;
}
  
.input-signup-page input:focus ~ label,
.input-signup-page input:valid ~ label{
    top: 10%;
    font-size: .8rem;
    color: #000;
}
  
.input-signup-page input:focus {
    border-width: 2px;
    border-color: #0A66C3;
}
  
.forgot-password-link-signup-page {
    width: 140px;
    padding: .2rem;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    color: #0A66C3;
    transition: .3s;
    border-radius: 12px;
}
  
.forgot-password-link-signup-page:hover{
    background: rgba(10, 102, 195, 0.3);
}
  
.button-signup-page {
    height: 50px;
    background: #0A66C3;
    outline: none;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 1rem;
    font-weight: bolder;
}
  
.join-link-signup-page {
   text-decoration: none;
   font-weight: bolder;
   color: #0A66C3; 
}
  
.join-now-signup-page{
    text-decoration: none;
    font-weight: bolder;
    color: #0A66C3; 
    border-radius: 12px;
    transition: .3s;
    font-weight: bolder;
    padding: .2rem;
}
  
.join-now-signup-page:hover{
    background: rgba(10, 102, 195, 0.3);   
}